[submodule "docs/C4-PlantUML"]
	path = docs/C4-PlantUML
	url = https://github.com/plantuml-stdlib/C4-PlantUML.git
[submodule "docs/PlantUML-opensecurityarchitecture2-icons"]
	path = docs/PlantUML-opensecurityarchitecture2-icons
	url = https://github.com/Crashedmind/PlantUML-opensecurityarchitecture2-icons
[submodule "docs/plantuml-icon-font-sprites"]
	path = docs/plantuml-icon-font-sprites
	url = https://github.com/tupadr3/plantuml-icon-font-sprites
